@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.montserrat-font {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.slika-kamere {
  filter: drop-shadow(0px 0px 50px #000);
}

.bg-blur {
  background: rgba( 46, 43, 92, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 46, 43, 92, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 30px;
}

.bager, .camera {
  filter: drop-shadow(29px 31px 10px rgba(0, 0, 0, .5));
}

.overlay {
  background: linear-gradient(180deg, rgba(0, 0, 31, .75) 0%, rgba(0, 0, 31,0) 50%, rgba(0, 0, 31, .75) 100%), radial-gradient(circle, rgba(0, 0, 31,0) 0%, rgba(0, 0, 31,.5) 100%);
}

.text-gradient {
  background: linear-gradient(to right, #3b82f6, #eab308, #3b82f6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 100%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  animation: gradientMove 7.5s infinite alternate;
}

@keyframes gradientMove {
  0%, 100% {
    background-position: 100% 100%;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  50% {
    background-position: 0% 0%;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}